body {
  color: #333333;
  overflow-y: auto;
  padding-right: 0 !important;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clear:before, .clear:after {
  content: "";
  display: table;
}

.clear:after  {
  clear: both;
}

input, #info div, #info span, .selectable {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

/*
button:focus, button:active, select:focus, input:focus, option:focus {
  outline: 0 !important;
  -webkit-appearance: none !important;
}


checkbox:focus, checkbox:active, select:focus, input:focus, option:focus {
  outline: 2 !important;
  -webkit-appearance: none !important;
}
*/
area:hover {
  cursor: pointer;
}

.full-content {
/*
  min-width: 1024px;
*/
  margin: 0 auto;
  position: relative;
}

.container-fluid {
  margin-top: 20px;
}

.container {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}
.between{
        min-height: 10px;
}

#placeholder {
    width:900px;
    height:450px;
    margin: 0 auto;
    float:left;
}



area:hover {
  cursor: pointer;
}

.full-content {
/*
  min-width: 1024px;
*/
  margin: 0 auto;
  position: relative;
}

.container-fluid {
  margin-top: 20px;
}

.container {
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}
.between{
        min-height: 10px;
}
.navbar-collapse {
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-collapse {
  float: right;
}

.navbar-nav li {
  width: 131px;
  text-align: center;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 30px;
  border-left: 1px solid #999;

}

.navbar-inverse .navbar-nav > li > a  {
 color: #cdcccc;
 outline: none;
}

.nav > li > a:hover {
  background-color: #444 !important;
  color: #E5D5D5;
}

#SPEC_RUN, #SPEC_RUN:hover
{
  color: #31b44b;
}

#SPEC_STOP, #SPEC_STOP:hover
{
  display: none;
  color: #ee3739;
}

.navbar {
  border-radius: 0px;
  background-color: #343433;
  background-image: linear-gradient(to bottom, #343433 0, #343433 100%);
  border: 1px solid #999;
  min-height: 42px;
  border-left: 1px solid #999;
}

.back-btn {
  height: 22px;
  float: left;
  margin: -6px 0px 0px 11px;
}

.logo {
  margin: 5px 0px 0px 15px;
  float: left;
}

.navbar-collapse collapse in {
  width: 100%;
  overflow: hidden;
}

.navbar-brand {
  height: 40px;
}

.close {
  color: #CAB7B7;
  opacity: 1;
  text-shadow: 0 0 0 !important;
}

.modal-content {
  background-color: #343433;
  border: 1px solid #999;
  border-radius: 0px;
  outline: 0;
}

#main {
  margin-right: 188px;
}

#buffer {
  border: 1px solid #999;
}

.horizontline {
  margin: 5px 1px 5px 1px;
  background-color: #cdcccc;
  height: 2px;
}

.red-horizont-line {
  height: 12px;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  margin-left: 30%;
  position: absolute;
  width: 100px;
}

.red-line {
  width: 100px;
  height: 2px;
  background-color: #ce3234;
  margin-top: 5px;
}

.fixator {
  margin-left: 20%;
  height: 12px;
  width: 3px;
  position: absolute;
  background-color: #cdcccc;
}


.right-menu-cont {
  margin-right: 0px;
  border-left: 1px solid #999;
  border-top: 1px solid #999;
  color: #CBCCCB;
}

.col-xs-6.option-content {
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  text-align: center;
  line-height: 31px;
  float: left;
  font-size: 14px;
  padding: 0px;
}

.col-xs-12.option-content {
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  text-align: left;
  line-height: 31px;
  float: left;
  font-size: 14px;
  color: #CBCCCB;
  padding: 0px;
}

.col-xs-2 {
  padding-right: 15px;
}
.col-info {
  font-size: 10px;
  margin: -11px 0px -25px 0px;
  padding: 0px;
  float: left;
  color: #cdcccc;
  height: 10px;
}

.col-info-activ {
  font-size: 10px;
  margin: -8px 0px -2px -11px;
  padding: 0px;
  float: left;
  color: #cdcccc;
  height: 10px;
  text-shadow: 0px 1px 1px #111;
}

.panel_input_field > select{
  margin-left: 5px;
  background-color: transparent;
  color: #CCCCCB;
  border: none;
  font-size: 15px;
}

.panel_button_field > select{
  margin-left: 5px;
  background-color: transparent;
  color: #CCCCCB;
  border: none;
  font-size: 15px;
}

.panel_button_field {
  margin-left: 5px;
  background-color: transparent;
  color: #CC11CB;
  border: none;
  font-size: 15px;
}

.panel_input_field{
  margin-left: 5px;
  background-color: transparent;
  color: #CCCCCB; /* CCCCCB */
  border: none;
  font-size: 15px;
}

.input_entry_full{
  margin-left: 5px;
  width: 80%;
  background-color: transparent;
  color: #111111; /* CCCCCB; */
  border: 1px;
  font-size: 15px;
}

.input_check_full{
  margin-left: 5px;
  width: 80%;
  background-color: transparent;
  color: #CCCCCB;
  border: 1px;
  font-size: 15px;
}

#field_descr_text{
  padding-left: 10px;
  top:-13px;
  font-size: 10px;
  margin:0px;
}

#field_descr_hdr{
  padding-left: 12px;
  top:-5px;
  font-size: 16px;
  margin:0px;
}

.menu-content {
  width: 260px;
  float: right;
}

.right-menu-option {
  margin: 1px 1px 2px 1px;
  height: 31px;
}

.right-menu-option:hover  {
  background-color: #444;
  cursor: pointer;
  margin: 1px 1px 1px 1px;
  height: 32px;
}

#header {
    background-color: black;
    color: #777;
    text-align: center;
    padding: 6px;
    overflow: hidden;
    height: 30px;
    width: 100%;
    white-space: nowrap;
}

#connection_meter {
    right: 100px;
    width: 200px;
    float: right;
    text-align: left;
}

#throughput_view2 {
    text-align: right;
    width: 150px;
}

#fpga_readings {
    width: 200px;
    font-size: 14px;
    color: #F00;
    background-color: blue;
    padding: 10px;
}

(END)
