#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Gxsm4
GenericName=SPM data acquisition and processing
Comment=Gnome X Scanning Microscopy and Data Analysis & Visualisation - normal mode
Exec=gxsm4 %F
TryExec=gxsm4
Icon=gxsm4-icon
Terminal=false
Type=Application
Categories=X-Gxsm;GTK;GNOME;Science
X-AppInstall-Package=GXSM4
X-GNOME-Settings-Panel=GXSM4
MimeType=application/x-netcdf
Actions=New;NoHardware;Gxsm4Manual;ventiotec;gxsm

X-Desktop-File-Install-Version=0.26

[Desktop Action New]
Name=GXSM normal startup
Exec=gxsm4

[Desktop Action NoHardware]
Name=GXSM no hardware
Exec=gxsm4 -h no

[Desktop Action Gxsm4Manual]
Name=GXSM offline manual
Exec=evince /usr/share/doc/gxsm4/gxsm4.pdf.gz

[Desktop Action ventiotec]
Name=www.ventiotec.com
Exec=browse https://www.ventiotec.com

[Desktop Action gxsm]
Name=GXSM homepage 
Exec=browse https://gxsm.sf.net

