#view-headerbar-tip-follow:checked{
    color: #dd0000;
}

#view-start-stop-scan:checked{
    color: #dd0000;
}


#probe-indicator-button:checked{
    color: #dd0000;
}

#normal { }

#red { background-image: none; background-color: #e81b1b; color: white; font-weight: bold; border-radius: 6px; margin-left: 4px; }
#yellow { background-image: none; background-color: #e8e01b; color: white; font-weight: bold; border-radius: 6px; margin-left: 4px; }
#green { background-image: none; background-color: #69e81b; color: white; font-weight: bold; border-radius: 6px; margin-left: 4px; }
#cyan { background-image: none; background-color: #1be5e8; color: white; font-weight: bold; border-radius: 6px; margin-left: 4px; }
#blue { background-image: none; background-color: #1b82e8; color: white; font-weight: bold; border-radius: 6px; margin-left: 4px; }
#purple { background-image: none; background-color: #c61be8; color: white; font-weight: bold; border-radius: 6px; margin-left: 4px; }
#bgrey { background-image: none; background-color: #bbd0e6; color: white; font-weight: bold; border-radius: 6px; margin-left: 4px; }
#grey { background-image: none; background-color: #9b9b9b; color: white; font-weight: bold; border-radius: 6px; margin-left: 4px; }

#orange { background-image: none; background-color: #f85b5b; color: white; font-weight: bold; border-radius: 6px; margin-left: 4px; }

#gvpcolor3 { background-image: none; background-color: #e81b1b; color: white; font-weight: bold; border-radius: 6px; margin-left: 4px; }
#gvpcolor1 { background-image: none; background-color: #e8e01b; color: white; font-weight: bold; border-radius: 6px; margin-left: 4px; }
#gvpcolor2 { background-image: none; background-color: #69e81b; color: white; font-weight: bold; border-radius: 6px; margin-left: 4px; }
#gvpcolor4 { background-image: none; background-color: #1b82e8; color: white; font-weight: bold; border-radius: 6px; margin-left: 4px; }
#gvpcolor5 { background-image: none; background-color: #1be5e8; color: white; font-weight: bold; border-radius: 6px; margin-left: 4px; }
#gvpcolor6 { background-image: none; background-color: #c61be8; color: white; font-weight: bold; border-radius: 6px; margin-left: 4px; }
#gvpcolor7 { background-image: none; background-color: #053b58; color: white; font-weight: bold; border-radius: 6px; margin-left: 4px; }
#gvpcolor8 { background-image: none; background-color: #1b06e8; color: white; font-weight: bold; border-radius: 6px; margin-left: 4px; }

#entry-mono-text { font-family: monospace; }
#entry-mono-text-start  { font-family: monospace;  background-color: #1be5e8; color: white; font-weight: bold; }
#entry-mono-text-info   { font-family: monospace;  background-color: #e8e01b; color: white; font-weight: bold; }
#entry-mono-text-health { font-family: monospace;  background-color: #69e81b; color: white; font-weight: bold; }

#remote-source-view{ font-family: monospace; font: 16px; }

.rotated-label { transform: rotate(0deg); }
